@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Stadium>


<script src="@ViewData["key"]"></script>
<div class="text-center">
    <h1>Baseball Roadtrip0</h1>
    <p>
       
        <div id="mapDiv" style="width:100%;height:500px;"></div>

        <script type="text/javascript">


            var stadiumloc = new google.maps.LatLng(38.564484, -96.1145333);
            var center = new google.maps.LatLng(38.564484, -96.1145333)

            var mapOptions = {
                center: center,
                zoom: 5,
                minZoom: 1,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };


            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);

            var stadiums = @Html.Raw(Json.Serialize(Model));

            var coord = new Array();

            stadiums.forEach(object => coord.push(new google.maps.LatLng(object["geoLat"], object["geoLong"])));

            var marker = "";

            stadiums.forEach(object =>

                new google.maps.Marker({
                    position: new google.maps.LatLng(object["geoLat"], object["geoLong"]),
                    label: object["name"]

                }).setMap(map));

         </script>
    </p>



</div>
